
.maintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: Regular;
font-size: 4vw;
line-height: 100%;
/* or 64px */

letter-spacing: 0em;
font-feature-settings: 'liga' off;

color: #F8F8F8;
}

.subtext {
  /* .display-1 */
  top: 50%;
    transform: translate(0%,-400%);
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #F8F8F8;

}
.aftertext{top: 50%;
  transform: translate(0%,200%);
font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
/* or 16px */

letter-spacing: 0.1em;
text-transform: uppercase;
font-feature-settings: 'liga' off;

color: #F8F8F8;
}

.banner_main{
  padding: 10%;
  background-color: #000;
  background-image: url("../images/banner_main.png"); 
  height: 75vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.text_main{
  /* text-align: left; */
  /* width: 15%; */
  /* height: 15%; */
  color: white;
  /* Center vertically and horizontally */
  position: relative;
  top: 30%;
  left: 0;
  /* margin: -7.5% 0 0 -7.5%; */
  line-height: 1rem;
}
.banner_img{
  position: absolute;
    top: 50%;
    transform: translate(90%,-50%);
}
.imagemain {
  background: url(./images/banner_main.png) no-repeat 0 100%;
  padding-bottom: 40px;  
 }




.textmenu {
  color: rgba(255,255,255,1);
  font-family: Archivo;
  font-weight: Regular;
  font-size: 1rem;
  opacity: 1;
  text-align: left;
}




.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.subcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.casetext{
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1rem;
letter-spacing: 0.06em;
color: #000000;
}

.linebreak{
width: 100%;
border: 0.1px solid #000000;
}
.div_orc{
  top: 50%;
  transform: translate(0%,70%);
}
.text_orc{
  font-family:Archivo;
  font-size:4vw;
  float: center;
  width: 100%;
  color: #000;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  
  /* or 64px */
  
  text-align: center;
  letter-spacing: 0em;
  font-feature-settings: 'liga' off;
  padding-right:10%;
  padding-left: 10%;
  
}
.navbar-nav > li{
  padding-left:30px;
}
.banner_main_about{
  background-color: #FFF;
  padding: 10vw 10.79vw 0vw 10.79vw;
  padding-bottom: 0%;
  height: auto;
  position: relative;
  display: inline-block;
  text-justify: inter-word;
  font-family: Archivo;
}
.button_orc{
  margin-bottom: 1vw;
  background-color: #000;
  text-transform: uppercase;
  border-radius: 0px;
  padding-top: min(4%,14px); 
  padding-left: min(15%,32px);
  padding-bottom:  min(4%,14px);
  padding-right: min(15%,32px);
  font-family: Archivo;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 38vw);
  grid-template-rows: repeat(2,38vw);
  grid-gap: 1.21vw;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.gallery__item--1 {
}

.gallery__item--2 {
}

.gallery__item--3 {
}
.gallery__item--4 {
}
.img__wrap {
  position: relative
}

.img__description {
  
  position: relative;
  top: -100%;
  left: 0%;
  height: 38vw;
  text-align: center;
  background: rgba(255, 255, 255,1);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  /* transition effect. not necessary */
  font-size: 1.5vw;
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
}
.casehover{
  position: relative;
  top: 60%;
  left: 15%;
  padding-right: 40%;
  color: #000;
  height: 100%;
  float: left;
  line-break: strict;
  clear: both;
  display: block;
  text-align-last: left;
  text-align: left;

}

.casetexttype{
  color: #000;
  text-transform: uppercase;
  font-size: 1.5vw;
  float: left;
  font-family: Archivo;
}
.casetextcompany{
  color: #000;
  float:left;
  font-size: 4vw;
  font-style: bold;
  font-family: Archivo;
  line-height: 1;
}
.gallery__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.logoimage {
    width: 90%;
    height: auto;
}




figure {
  margin: 0 0 0rem;
}

.column1{
  width: 39.64vw;
  float: left;
}
.column2{
  width: 32.64vw;
  float: right;
}

.rowcol:after {
  content: "";
  display: table;
  clear: both;
}

.display-1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

.display-2{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.h1{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: 0.06em;
  
  color: #000000;
}

.h2{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 100%;
  /* identical to box height, or 16px */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'liga' off;
  
  /* B3 */
  
  color: #000000;
}

.f1{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 100%;
  /* identical to box height, or 16px */
  
  letter-spacing: 0.1em;
  font-feature-settings: 'liga' off;
  
  /* B3 */
  
  color: white;
}

.h3{
/* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 3.625rem;
line-height: 100%;

font-feature-settings: 'liga' off;

color: #000000;
}

.h4{
  /* .display-1 */
  
  font-family: Archivo;
  font-style: normal;
  font-weight: bold;
  font-size: 2.875rem;
  line-height: 100%;
  
  font-feature-settings: 'liga' off;
  
  color: #000000;
  }

.p1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 0.545em;
  color: #000000;
}
.p2{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 150%;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}
.p3{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 150%;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}

.p4{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}


.p5{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 0.26em;
}

.l1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1.125rem;
}

.footer {
  height: 20vw;
  background-color: black;
  color: white;
  padding-left: 10.79vw;
  padding-right: 10.79vw;
  padding-top: 8%;
}

a:hover {
  color: #ccc !important;
}

.actual{
  text-decoration: underline;
}

.fade-in {
  opacity: 50%;
  transition:opacity 0.8s
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }