
.maintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: Regular;
font-size: 4vw;
line-height: 100%;
/* or 64px */

letter-spacing: 0em;
font-feature-settings: 'liga' off;

color: #F8F8F8;
}

.subtext {
  /* .display-1 */
  top: 50%;
    transform: translate(0%,-400%);
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-feature-settings: 'liga' off;
    color: #F8F8F8;

}
.aftertext{top: 50%;
  transform: translate(0%,200%);
font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 100%;
/* or 16px */

letter-spacing: 0.1em;
text-transform: uppercase;
font-feature-settings: 'liga' off;

color: #F8F8F8;
}

.banner_main{
  padding-top: 0;
  background-size: 100%;
  background-color: #000;
  background-image: url("../images/banner_main.png"); 
  height: 75vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 80% 33%;
}


.banner_main_snd{
  padding: 10%;
  background-color: #000;
  /* background-image: url("../images/banner_main.png"); */
  height: 75vh;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
}

.text_main{
  /* text-align: left; */
  /* width: 15%; */
  /* height: 15%; */
  color: white;
  /* Center vertically and horizontally */
  position: relative;
  top: 30%;
  left: 0;
  /* margin: -7.5% 0 0 -7.5%; */
  line-height: 1rem;
}

.text_main_only{
  /* text-align: left; */
  width: 50%;
  /* height: 15%; */
  color: white;
  /* Center vertically and horizontally */
  position: relative;
  top: 30%;
  left: 0;
  /* margin: -7.5% 0 0 -7.5%; */
  line-height: 1rem;
}
.banner_img{
  position: absolute;
    top: 50%;
    transform: translate(90%,-50%);
}
.imagemain {
  background: url(./images/banner_main.png) no-repeat 0 100%;
  padding-bottom: 40px;  
 }




.textmenu {
  color: rgba(255,255,255,1);
  font-family: Archivo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  height: 10vh;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}




.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.subcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.casetext{
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1rem;
letter-spacing: 0.06em;
color: #000000;
}

.linebreak{
width: 100%;
border: 0.1px solid #000000;
}
.div_orc{
  top: 50%;
  transform: translate(0%,70%);
}
.text_orc{
  font-family:Archivo;
  font-size:52px;
  float: center;
  width: 50%;
  color: #000;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  
  /* or 64px */
  
  text-align: center;
  letter-spacing: 0em;
  font-feature-settings: 'liga' off;
  padding-right:10%;
  padding-left: 10%;
  
}
.navbar-nav > li{
  padding-left:30px;
}
.banner_main_about{
  background-color: #FFF;
  padding: 10vw 10.79vw 0vw 10.79vw;
  padding-bottom: 0%;
  height: auto;
  position: relative;
  display: inline-block;
  text-justify: inter-word;
  font-family: Archivo;
}
.button_orc{
  margin-bottom: 1vw;
  background-color: #000;
  text-transform: uppercase;
  border-radius: 0px;
  padding-top: min(4%,14px); 
  padding-left: min(15%,32px);
  padding-bottom:  min(4%,14px);
  padding-right: min(15%,32px);
  font-family: Archivo;
  color: white;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 38vw);
  grid-template-rows: repeat(2,38vw);
  grid-gap: 15px;
}
.padding_std{
  padding-left:10.79vw;
  padding-right:10.79vw;
}
.padding_std_2{
  padding-left:10.79vw;
  padding-right:10.79vw;
}

.padding_std_3{
  padding-left:0vw;
  padding-right:0vw;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.img__wrap {
  position: relative
}

.img__description {
  
  position: relative;
  top: -100%;
  left: 0%;
  height: 38vw;
  text-align: center;
  background: rgba(255, 255, 255,1);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  /* transition effect. not necessary */
  font-size: 1.5vw;
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
}
.casehover{
  position: relative;
  top: 60%;
  left: 0%;
  padding-right: 40%;
  color: #000;
  height: 100%;
  float: left;
  line-break: strict;
  clear: both;
  display: block;
  text-align-last: left;
  text-align: left;
  padding-left: 15%;
}

.casetexttype{
  color: #000;
  text-transform: uppercase;
  font-size: 1.5vw;
  float: left;
  font-family: Archivo;
}
.casetextcompany{
  color: #000;
  float:left;
  font-size: 4vw;
  font-style: bold;
  font-family: Archivo;
  line-height: 1;
}
.gallery__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.logoimage {
    width: auto;
    height: 7vh;
    max-height: 45px;
}




figure {
  margin: 0 0 0rem;
}

.column1{
  width: 37.64vw;
  float: left;
}
.column2{
  width: 29.64vw;
  float: right;
}

.rowcol:after {
  content: "";
  display: table;
  clear: both;
}

.display-1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
}

.display-2{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}

.h1{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.06em;
  
  color: #000000;
}

.h2{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 16px */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'liga' off;
  
  /* B3 */
  
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.h2w{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 16px */
  
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'liga' off;
  
  /* B3 */
  
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
}
.f1{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  
  letter-spacing: 0.1em;
  font-feature-settings: 'liga' off;
  
  /* B3 */
  
  color: white;
}

.h3{
/* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 58px;
line-height: 100%;

font-feature-settings: 'liga' off;

color: #000000;
}

.h4{
  /* .display-1 */
  
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 100%;
  
  font-feature-settings: 'liga' off;
  
  color: #000000;
  }

.p1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 0.545em;
  color: #000000;
}
.p2{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}
.p3{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px !important;
  line-height: 22.5px;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}
.p3w{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px !important;
  line-height: 22.5px;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #FFF;
}
.p4{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  /* or 36px */
  
  letter-spacing: 0.06em;
  
  color: #000000;
}


.p5{
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 200%;
  /* or 30px */
  
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: black;
}



.l1{
  font-family: Archivo;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}
.l2{
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  letter-spacing: 0.01em;

 
  color: black;
}

.l2w{ 
  font-family: Archivo;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  letter-spacing: 0.01em;

  color: white;
}
.footer {
  background-color: black;
  color: white;
  padding-top: 4%;
  overflow:hidden;
  padding-bottom: 4%;
  
}


.actual{
  text-decoration: underline;
}

.fade-in {
  opacity: 50%;
  transition:opacity 0.8s
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  .background {
    position: fixed;
    top: 0;
    left: 60vw;
    z-index: -2000;
    width: 40vw;
    height: 100%;
    background-color: black; 
}
.nav_andes{background-color: black;
  width: 80%; 
  z-index: 10000;
  float: right;
}
.nomobile{
  
}

.justmobile{
  display: none;
}
.nav_andesul{
  float: right;
}

.navbar_fixed{
  position: fixed;
  width: 100%;
  z-index: 4;
  top: 0;
}

.col1_footer{
  float: left;
  text-align:left
}
.col2_footer{
  float: right;
  text-align: left;display:inline-block;;
  text-align:left
}


a {
  color: white;

}

a:focus, a:hover {
  color: #666666;
  text-decoration: none;
}

.vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after {
  width: 50%;
  border-color: #000;
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-transform: rotate(
45deg
) translate(1px, -4px);
  transform: rotate(45deg) translate(1px, -4px);
}

.ac_menu_first{
  width: 100%;
  border-top: white solid 0.5px; 
  border-bottom: white solid 0.5px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  padding: 0vh 0;
  cursor: pointer;
 }

.ac_menu{
 width: 100%;
 border-bottom: white solid 0.5px;
 text-align: left;
 outline: none;
 transition: 0.4s;
 padding: 0vh 0;
 cursor: pointer;
}
.ac_menu_div{
display: none;
padding-bottom: 10%;
padding-top: 5%;
cursor: pointer;
}
@media (max-width: 1000px) {
  .button_orc {
    margin-bottom: 2vw;
    background-color: #000;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
}
.banner_main_snd{
  padding: 10%;
  background-color: #000;
  /* background-image: url("../images/banner_main.png"); */
  height: 40vh;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
}
  .nav_andes{background-color: black;
    position: fixed;
    top:12vh;
    left:0vw;
    width: 100vw;
    height: 90vh; 
    z-index: 10000;
    float: right;
  }
  .navbar-nav>li>a {
    line-height: 70px;
    font-size:30px
  }



  .justmobile{
    display: block;
  }
.h3{
  /* .display-1 */
  
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: min(58px,3.5rem);
  line-height: 100%;
  
  font-feature-settings: 'liga' off;
  
  color: #000000;
  }

.nav_andesul{background-color: black;
  float: left;
}
  .gallery {
    display: grid;
    grid-template-columns: repeat(1, 100vw);
    grid-template-rows: repeat(4,100vw);
    grid-gap: 15px;
   }

   .padding_std{
    padding-left:0vw;
    padding-right:0vw;
  }
  .padding_std_2{
    padding-left:10.79vw;
    padding-right:10.79vw;
  }

  .padding_std_3{
    padding-left:10.79vw;
    padding-right:10.79vw;
  }
  .nomobile{
    display:none;
  }
  .column1{
    width: 100%;
  }
  .column2{
    width: 100%;
  }
  .text_orc{
    font-family:Archivo;
    font-size:32px;
    float: center;
    width: 80%;
    color: #000;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
    
    /* or 64px */
    
    text-align: center;
    letter-spacing: 0em;
    font-feature-settings: 'liga' off;
    padding-right:10%;
    padding-left: 10%;
    
  }
  .footer {
    background-color: black;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow: hidden;
  
  }
  .col1_footer{
    float: left;
  }
  .col2_footer{
    float:left;text-align: left;display:inline-block;
  }

  .text_main{
    /* text-align: left; */
    /* width: 15%; */
    /* height: 15%; */
    color: white;
    /* Center vertically and horizontally */
    position: relative;
    top: 70%;
    left: 0;
    /* margin: -7.5% 0 0 -7.5%; */
    line-height: 1rem;
  }

  
  .banner_main{
    padding-top: 0;
    background-size: 186vh;
    background-color: (0,0,0,0.5);
    background-image: url("../images/banner_main.png"); 
    height: 75vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 61% 38%;
  }

  .opacity_back{
    left: 0;
    position: absolute;;
    padding-top: 0;
    background-size: 126vh;
    background-color: #000; 
    height: 75vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 95% 26%;
    opacity: 0.5;
    z-index:0;
  }
  .text_main_only{
    /* text-align: left; */
    width: 100%;
    /* height: 15%; */
    color: white;
    /* Center vertically and horizontally */
    position: relative;
    top: 30%;
    left: 0;
    /* margin: -7.5% 0 0 -7.5%; */
    line-height: 1rem;
  }

}

html,body { -webkit-text-size-adjust:none; }

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #000;
}

img {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #7B1FA2;
}

.custom-control-input:checked~.custom-control-label.red::before {
  background-color: red;
}

.custom-control-input:checked~.custom-control-label.green::before {
  background-color: green;
}

.tagtext{
  display: inline-block;
  border: 2px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  font-family: 'Archivo';
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  height: 25px;
  padding: 1px 8px;
  margin: 4px 4px;
  cursor: pointer;
  
}
.tagclick{
  color: white;
  background-color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: black;
    border: 0px solid #aaa;
    border-radius: 4px;
    color: white;
    box-sizing: border-box;
    display: inline-block;
    margin: 1px 2px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #C5C5C5;
  color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    color: white;
    padding: 1px 8px;
    font-family: Archivo;
    font-size: 16px;

}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 0px solid #aaa;
  border-radius: 0px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative;
  font-family: Archivo;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 0px;
    outline: 0;
    font-family: Archivo;
}

.select2-container {
  border-color: black;
  width: 37.64vw;
  padding: 20px;
  background-color: white;
  border: 2px solid;
  border-radius: 0px;
  cursor: text;
  position: relative;
  font-family: Archivo;
}

.blackinput {
  font-family: Archivo;
  font-size: 14px;
  background-color: #000;
  width: 29vw;
  padding: 20px 20px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  box-sizing: border-box;
  color: #FFFFFF;
  border-width: 2px;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
  font-family: Archivo;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 0px;
  font-size: 18px;
  line-height: 20px;
}


.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 100%;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 100%;
    border-radius: 1px;
}
input{
  border-color: #000;
  box-shadow: 0px;
  border-radius: 0px;
  outline: 0 none;
  border-width: 2px;
  padding: 20px;
}

.inputAndes{
  border-color: #000;
  box-shadow: 0px;
  border-radius: 0px;
  outline: 0 none;
  border-width: 2px;
  padding: 20px;
}

.premodal{
  opacity: 90%;
  top:0;
  left: 0;
  position: fixed;
  z-index: 5;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
.preloader {
  opacity: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 6;
  background-color: black;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  background: url(../images/loading.gif) 50% 50% no-repeat rgb(177,177,177);
  background-size: 10%;
}
.modalAndes{
  display: none;position: fixed;top: 20vh;left:25vw;width: 50vw;
  overflow-y: hidden;z-index: 6;border-radius: 0;
}
body.modal-open {
  overflow: hidden;
}

@media (max-width: 1000px) {
  .modalAndes{
    display: none;position: fixed;top: 10vh;left:5vw;width: 90vw;
    overflow-y: hidden
  }
}


.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 2px solid black;
	box-shadow: 0;
	padding: 5px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
  cursor: pointer;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0;
  cursor: pointer;
}

.regular-checkbox:checked {
	background-color: black;
	border: -1px solid #666;
	padding: 5px;
	box-shadow: 0;
	color: #666;
  cursor: pointer;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 1px;
	color: white;
  cursor: pointer;
}

.black-checkbox {
	-webkit-appearance: none;
	background-color: black;
	border: 2px solid white;
	box-shadow: 0;
	padding: 5px;
	border-radius: 0px;
	display: inline-block;
	position: relative;
  cursor: pointer;
}
.black-checkbox:active, .black-checkbox:checked:active {
	box-shadow: 0;
  cursor: pointer;
}

.black-checkbox:checked {
	background-color: black;
	border: -1px solid #666;
	padding: 5px;
	box-shadow: 0;
	color: #666;
  cursor: pointer;
}

.black-checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: -2px;
	left: 1px;
	color: white;
  cursor: pointer;
}


input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.regular-radio {
	-webkit-appearance: none;
	background-color: white;
	border: 2px solid black;
	box-shadow: 0;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
  cursor: pointer;
}

.regular-radio:checked:after {
	content: ' ';
	width: 7px;
	height: 7px;
	border-radius: 50px;
	position: absolute;
	top:1.5px;
	background: black;
	box-shadow: 0;
	text-shadow: 0px;
	left: 1.2px;
	font-size: 32px;
  cursor: pointer;
}

.regular-radio:checked {
	background-color: white;
	color: black;
	border: 2px solid black;
	box-shadow: 0;
  cursor: pointer;
}

.regular-radio:active, .regular-radio:checked:active {
	box-shadow: 0 ;
  cursor: pointer;
}


.black-radio {
	-webkit-appearance: none;
	background-color: black;
	border: 2px solid white;
	box-shadow: 0;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
  cursor: pointer;
}

.black-radio:checked:after {
	content: ' ';
	width: 7px;
	height: 7px;
	border-radius: 50px;
	position: absolute;
	top:1.5px;
	background: white;
	box-shadow: 0;
	text-shadow: 0px;
	left: 1.2px;
	font-size: 32px;
  cursor: pointer;
}

.black-radio:checked {
	background-color: black;
	color: white;
	border: 2px solid white;
	box-shadow: 0;
  cursor: pointer;
}

.black-radio:active, .regular-radio:checked:active {
	box-shadow: 0 ;
  cursor: pointer;
}

textarea {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Archivo;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 10px;
  color: #000;
}