.montain{
    padding-top: 10%;
    padding-left: 10.79vw;
    padding-right: 10.79vw;
}

.numbers_line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }

  .progress_backline{
    position: relative;
    height: 2px;
    color: rgb(173, 173, 173);
    width: 100%;
    padding: 0.3px 0.3px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #666;
  }
  .progress_line{
    height: 2px;
    color: white;
    width: 100%;
    padding: 0.3px 0.3px;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
  }

  .noshow{
    display: none;
  }
  

  .modalInvite{
    position: fixed;
    width: 40%;
    left: 30%;
    top: 10%;

    background: #BECDFF;
    border-radius: 20px;
    max-height: calc(100vh - 20%);
    overflow-y: auto;
  }
  .invite_input{
    border: 0px;
    background-color: #BECDFF;
    font-size: 18px;
    color:black;
    padding: 0px;
    padding-top: 3%;
    width: 100%;
    height: 60px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;
  top:-7px;
  
}
::-moz-placeholder { /* Firefox 19+ */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-moz-placeholder { /* Firefox 18- */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}