.montain{
    padding-top: 10%;
    padding-left: 10.79vw;
    padding-right: 10.79vw;
}

.numbers_line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
  }
.table_projects{
  border: 0;
  height: 70px;
  
}

/* nth-child(1) = the first td in each tr */
td:nth-child(1) {
  width: 35%;
  }

/* the second */
td:nth-child(2) {
  width: 35%;
}

/* the third */
td:nth-child(3) {
  width: 30%;
 }

  .progress_backline{
    position: relative;
    height: 2px;
    color: rgb(173, 173, 173);
    width: 100%;
    padding: 0.3px 0.3px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #666;
  }
  .progress_line{
    height: 2px;
    color: white;
    width: 100%;
    padding: 0.3px 0.3px;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
  }

  .noshow{
    display: none;
  }
  

  .modalInvite{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 10%;

    background: #BECDFF;
    border-radius: 20px;
  }
  .invite_input{
    border: 0px;
    background-color: #BECDFF;
    font-size: 18px;
    color:black;
    padding: 0px;
    padding-top: 3%;
    width: 100%;
    height: 60px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  white-space:pre-line;  
  position:relative;
  top:-7px;
  
}
::-moz-placeholder { /* Firefox 19+ */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
  position:relative;
  top:-7px;
}
:-moz-placeholder { /* Firefox 18- */
     white-space:pre-line;  
  position:relative;
  top:-7px;
}

.tooltip_flag{
  position: relative;
}
.tooltip_flag .tooltiptext {
  visibility: hidden;
  width: 274px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 0px;
  padding: 10px;
  font-family: Archivo;
  position: absolute;
  top: 40px;
  left: 0px;
}
.tooltip_flag:hover .tooltiptext {
  visibility: visible;
}