
.maintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 3.5vw;
line-height: 100%;
text-align: left;
letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
}
.text_main_about{
  text-align: center;
  width: 15%;
  height: 15%;
  color: white;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7.5% 0 0 -7.5%;
  line-height: 1rem;
}
.imagemain {
  padding-bottom: 40px;  
 }
 .valores{
  position: absolute;
  top: 50%;
  transform: translate(-50%,-180%);
  
 }

 .valoresmaintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 1.2vw;
line-height: 110%;

text-transform: uppercase;

letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
}

 .valorestext{
  font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 1.5vw;
line-height: 110%;
letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
 }


 .movetext{
  font-family: Archivo;
  line-height: 100%;
  letter-spacing: 0.1em;
  font-feature-settings: 'liga' off;
  color: #000;
  text-align:left;
 }
.vfooter {
  color: rgba(255,255,255,1);
  top: 40px;
  left: 752px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  padding:10%
}

.textmenu {
  color: rgba(255,255,255,1);
  font-family: Archivo;
  font-weight: Regular;
  font-size: 1rem;
  opacity: 1;
  text-align: left;
}



.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000!important;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.subcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.casetext{
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1rem;
letter-spacing: 0.06em;
color: #000000;
}


.text_orc{
  font-family:Archivo;
  font-size:4vw;
  float: center;
  width: 100%;
  color: #000;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  
  /* or 64px */
  
  text-align: center;
  letter-spacing: 0em;
  font-feature-settings: 'liga' off;
  padding:10%;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 2%;
  
}
.button_orc{
  margin-bottom: 2vw;
  background-color: #000;
  text-transform: uppercase;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 33.3vw);
  grid-template-rows: repeat(1, 40vw);
  grid-gap: 0px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
}

.gallery__item--2 {
}

.gallery__item--3 {
}
.img__wrap {
  position: relative
}

.img__description {
  
  position: relative;
  top: -100%;
  left: 0%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255,1);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  /* transition effect. not necessary */
  font-size: 1vw;
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
}
.namehover{
  position: relative;
  top: 70%;
  left: 10%;
  padding-right: 10%;
  color: #000;
  height: 100%;
  float: left;
  line-break: strict;
  clear: both;
  display: block;
  text-align-last: left;
  text-align: left;

}

.nametexttype{
  color: #000;
  font-size: 1.2vw;
  float: left;
  font-family: 'Archivo';
}
.casetextcompany{
  color: #000;
  float:left;
  font-size: 1.5vw;
  font-style: bold;
  font-family: 'Archivo';
  line-height: 1;
}
.gallery__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}


.footer-second{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  font-family:'Archivo';
  padding: 5%;
  padding-top: 6%;
}
.redessociais_fot{
}
.footer-second p{
  color: white;
  
}

figure {
  margin: 0 0 0rem;
}
.contact_s1{
  padding:0vw 10.79vw 0vw 10.79vw
}

.about_s2{
  padding:0vw 10.79vw 0vw 10.79vw
}

.about_s3{
  padding:0 0 0 0;
  display: inline-block;
  
}
.banner_main_contact{
  padding: 10%;
  background-color: #000;
  /* background-image: url("../images/banner_main.png"); */
  height: 75vh;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-position: center; */
}

.formAndesMulti{
  width: 100% !important;
}


.vscomp-ele {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

.vscomp-toggle-button{
  display: block;
  position: relative;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-color: black;
  border-width: 2px;
  width: 80%;
  padding: 20px;
}