
.maintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 3.5vw;
line-height: 100%;
text-align: left;
letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
}
.imagemain {
  padding-bottom: 40px;  
 }
 .valores{
  position: absolute;
  top: 30%;
  
 }

 .valoresmaintext {
  /* .display-1 */

font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 1.2vw;
line-height: 110%;

text-transform: uppercase;

letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
}

 .valorestext{
  font-family: Archivo;
font-style: normal;
font-weight: normal;
font-size: 1.5vw;
line-height: 110%;
letter-spacing: 0.1em;
font-feature-settings: 'liga' off;
color: #000;
 }


 .movetext{
  font-family: Archivo;
  line-height: 100%;
  letter-spacing: 0.1em;
  font-feature-settings: 'liga' off;
  color: #000;
  text-align:left;
 }
.vfooter {
  color: rgba(255,255,255,1);
  top: 40px;
  left: 752px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  padding:10%
}

.textmenu {
  color: rgba(255,255,255,1);
  font-family: Archivo;
  font-weight: Regular;
  font-size: 1rem;
  opacity: 1;
  text-align: left;
}



.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000000!important;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.subcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.casetext{
  font-family: Archivo;
font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 1rem;
letter-spacing: 0.06em;
color: #000000;
}

.linebreak{
width: 100%;
border: 1px solid #000000;
}
.text_orc{
  font-family:Archivo;
  font-size:4vw;
  margin:2vw;
  padding:2vw;
  float: center;
  width: 40%;
  color: #000;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
  /* or 64px */
  
  text-align: center;
  letter-spacing: 0.1em;
  font-feature-settings: 'liga' off;
  
}
.button_orc{
  margin-bottom: 2vw;
  background-color: #000;
  text-transform: uppercase;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 0px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 7;
}

.gallery__item--3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 7;
}
.img__wrap {
  position: relative
}

.img__description {
  
  position: relative;
  top: -100%;
  left: 0%;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255,1);
  visibility: hidden;
  opacity: 0;
  text-align: center;
  /* transition effect. not necessary */
  font-size: 1vw;
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 0.5s;
}
.casehover{
  position: relative;
  top: 70%;
  left: 15%;
  padding-right: 10%;
  color: #000;
  height: 100%;
  float: left;
  line-break: strict;
  clear: both;
  display: block;
  text-align-last: left;
  text-align: left;

}

.casetexttype{
  color: #000;
  font-size: 1.2vw;
  float: left;
  font-family: 'Archivo';
}
.casetextcompany{
  color: #000;
  float:left;
  font-size: 1.5vw;
  font-style: bold;
  font-family: 'Archivo';
  line-height: 1;
}
.gallery__item:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.logoimage {
    width: 70%;
    height: auto;
}

.footer-second{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
  font-family:'Archivo';
  padding: 5%;
  padding-top: 6%;
}
.redessociais_fot{
}
.footer-second p{
  color: white;
  
}

figure {
  margin: 0 0 0rem;
}

