td:nth-child(1) {
    width: 25%;
    height: 100px;
}

/* the second */
td:nth-child(2) {
width: 69%;
border-bottom: 1px solid #666666;
height: 100px;
}

/* the third */
td:nth-child(3) {
width: 10%;
border-bottom: 1px solid #666666;
height: 100px;
}

.invite_rep{
    box-shadow: 0px;
    border-radius: 0px;
    outline: 0 none;
    border-width: 2px;
    color: white;
    background-color: #000;
    border-color: #666666;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }