td:nth-child(1) {
    width: 20%;
    height: 100px;
}

/* the second */
td:nth-child(2) {
width: 70%;
border-bottom: 1px solid #666666;
height: 100px;
}

/* the third */
td:nth-child(3) {
width: 10%;
border-bottom: 1px solid #666666;
height: 100px;
}